<html>
    <head>
        <title>Weather Project</title>
        <link rel="stylesheet" type="text/css" href="app_results.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    </head>
    
    <body class="bg<%= data.current.weather[0].icon %>">
        <div id="main">            
            <div id="container">
                <div id="current">
                    <div id="temp">
                        <div id="temperature"><%= Math.ceil(data.current.temp) %>&deg;C</div>
                        <div><%= location %></div>
                        <div class="subDetails">
                            <h3>Feels like <%= Math.ceil(data.current.feels_like) %>&deg;C</h3>
                            <h3>Humidity <%= Math.ceil(data.current.humidity) %>%</h3>
                        </div>
                    </div>
                    <div id="desc">
                        <div id="icon">
                            <img style="margin: 0;" src="icons/<%= data.current.weather[0].icon %>.png"/>
                            <h1><%= data.current.weather[0].main %></h1>
                        </div>
                        <div class="subDetails">
                            <h3>Wind <%= Math.ceil(data.current.wind_speed * 3.6) %>km/h</h3>
                        </div>
                    </div>
                </div>
                <div id="daily">
                    <% 
                    var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
                    var months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec'];
                    data.daily.forEach(info => {
                        var date = new Date(info.dt * 1000);
                    %>
                        <div class="dailyElement">
                            <div><%= days[ date.getDay() ] %></div>
                            <div><%= date.getDate() %> <%= months[ date.getMonth() ] %></div>
                            <img class="dailyIcon" style="margin: 0;" src="icons/<%= info.weather[0].icon %>.png"/>
                            <div><%= info.weather[0].main %></div>
                            <div><%= Math.round(info.temp.max) %>&deg;C</div>
                            <div>---</div>
                            <div><%= Math.round(info.temp.min) %>&deg;C</div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
</html>